@model Chat.BL.Libro

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sipnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sipnosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Urlimag)
        </dt>

        <dd>
            <img src="@Model.Urlimag" alt="@Model.Nombre" style="width:200px; height:auto;" />
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
